[Unit]
Description=Fetch and insert data into the database

[Service]
ExecStart=/opt/aktiendb/adb-update
WorkingDirectory=/opt/aktiendb/
StandardOutput=append:/var/log/aktiendb.log
StandardError=append:/var/log/aktiendb.log

[Install]
WantedBy=multi-user.target